@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron">
    <h1 class="display-4">Dynamic Application Generator</h1>
    <p class="lead">Generate ASP.NET Core MVC applications with Authentication and Authorization</p>
    <hr class="my-4">
    <p>This tool allows you to create a fully functional ASP.NET Core MVC application with dynamic roles, user registration, and login capabilities.</p>
    <a class="btn btn-primary btn-lg" asp-controller="Role" asp-action="Index">Manage Roles</a>
    <a class="btn btn-success btn-lg" asp-controller="Generator" asp-action="Index">Generate Application</a>
</div>
